@import "../../common/colors.scss";

.MovieCard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: $secondary-color;
  transition: transform 0.2s;
  color: $font-secondary;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}
