@import "../../common/colors.scss";

.MovieCard {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: $secondary-color;
  transition: transform 0.2s;
  color: $font-secondary;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

  img {
    width: 100%;
    height: auto;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
