@import "../../common/colors.scss";

.MovieListing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;

  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .MovieList {
    .MovieContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 15px;
    }

    .MoviesLoading {
      color: $font-secondary;
      font-size: 18px;
      text-align: center;
    }
  }

  .ShowList {
    .ShowContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 15px;
    }

    .ShowsLoading {
      color: $font-secondary;
      font-size: 18px;
      text-align: center;
    }
  }
}
