@use "../../common/colors.scss" as colors;

.Header {
  background-color: colors.$secondary-color;
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoContainer {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  .Logo {
    color: colors.$font-primary;
    font-size: 20px;
    font-weight: 600;
  }
}

.UserImage {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;

  .Logo {
    width: 38px;
    height: 38px;
    color: colors.$font-primary;
  }
}
