@use "./common/colors.scss" as colors;

#root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: colors.$primary-color;
  margin: 0;
}

.Container {
  margin: 0 40px;
}
